html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

.menu {
  display: block;
  line-height: 2;
  width: 25%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}

.inner_menu > .menu-item {
  width: 100%;
}

.inner_menu > .menu-item > .menu-link {
  width: 100%;
}

.menu__item {
  display: block;
  margin: 2px 0;
  font-size: 18px;
  position: relative;
  background: $blue;
  border-right: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-radius: 35px 5px 35px 5px;
  box-shadow: 1px 0 5px rgb(201, 184, 255);
    &:hover{
      text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1);
    }
    &:active {
      text-shadow: 0 0 10px rgb(148, 159, 255), 0 0 20px rgb(251, 255, 131), 0 0 30px rgb(0, 0, 0);
    }
    &:hover > .inner_menu {
      display: block;
    }
}

.inner_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 95%;
  width: 200px;
  overflow: hidden;
}

.inner_menu_item {
  border-right: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-radius: 35px;
  text-shadow: none;
  z-index: 1;
}

.menu__link {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
}